<div id="content" class="col-sm-12">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">


      <div class="row circleStats" style="min-width: 308px;">
        <div id="dashboard_goals_partial">
          <%= render partial: '/home/index/goals' %>
        </div>
      </div>
      <!--/row-->

      <div class="row">
        <div style="text-align: center;">
          <img alt="Dropshadow" src="/assets/dropshadow.png" style="width: 80%;">
        </div>
      </div>


      <div class="row">

        <div class="col-md-6 col-sm-12">
          <div id="upcoming_patients_partial">
            <%= render partial: '/home/index/upcoming_patients' %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <%= render partial: '/home/index/active_minutes' %>
        </div>
        <!--/col-->

      </div>

      <div class="row">

        <div class="col-md-6 col-sm-12">
          <div id="avg_blood_pressure_partial">
            <%= render partial: '/home/index/avg_blood_pressure' %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <%= render partial: '/home/index/weight' %>
        </div>
        <!--/col-->

      </div>

      <div class="row">

        <div class="col-md-6 col-sm-12">
          <div id="avg_blood_sugar_partial">
            <%= render partial: '/home/index/avg_blood_sugar' %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <%= render partial: '/home/index/worst_performers' %>
        </div>
        <!--/col-->

      </div>


    </div>
  </div>

</div>

<script>
  $( document ).ready(function() {
    $.get('/home/dashboard');
  });

  function row1_ht(){
    var act_min_cnt_ht = $('.active_min_content').outerHeight();
    var up_cnt_ht = $('.upcoming_patient_content').outerHeight();
    if (act_min_cnt_ht > up_cnt_ht) {
      $('.upcoming_patient_content').css('min-height', act_min_cnt_ht+'px');
    } else {
      $('.active_min_content').css('min-height', up_cnt_ht+'px');
    }
  }
  $(window).resize(row1_ht);

  function row2_ht(){
    var bp_cnt_ht = $('.avg_bp_cont').outerHeight();
    var wt_cnt_ht = $('.avg_wt_cont').outerHeight();
    if (bp_cnt_ht > wt_cnt_ht) {
      $('.avg_wt_cont').css('min-height', bp_cnt_ht+'px');
    } else {
      $('.avg_bp_cont').css('min-height', wt_cnt_ht+'px');
    }
  }
  $(window).resize(row2_ht);

  function row3_ht(){
    var bs_cnt_ht = $('.avg_bs_content').outerHeight();
    var pf_cnt_ht = $('.perf_cont').outerHeight();
    if (bs_cnt_ht > pf_cnt_ht) {
      $('.perf_cont').css('min-height', bs_cnt_ht+'px');
    } else {
      $('.avg_bs_content').css('min-height', pf_cnt_ht+'px');
    }
  }
  $(window).resize(row3_ht);
</script>